@charset "UTF-8";
/*
  em HTML é id = em CSS é #
  em HTML é class = em CSS é .
*/

body {
    background-color: #ffebe9;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #f76587;
}

h1#principal {
    text-align: center;
    background-color: rgb(253, 184, 213);
    color: #AD314E;
}
h2{
    color: #fc8aa4;
}

.basico {
    color: rgb(195, 233, 240);
}

.intermediario {
    color: rgb(240, 216, 109);
}

.destaque {
    background-color: rgb(245, 195, 216);
}
